.header {
  border-bottom: 1px solid lightgray;
  padding: 0.75rem;
  box-shadow: 0 0 7px 0px lightgrey;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.header > h1 {
  margin: 0 0.5rem 0 0;
}

.header > span {
  font-style: italic;
  margin-bottom: 0.25rem;
}
