<div class="home-header">
  <h1>{{ homeTitle }}</h1>
  <span>{{ homeSubtitle }}</span>
</div>
<nav class="tiles">
  <a routerLink="/weather">
    <section class="tile">
      <h2>Weather</h2>
      <mat-icon data-content="wb_sunny"
                class="material-icons-outlined">wb_sunny</mat-icon>
    </section>
  </a>
  <a routerLink="/todo">
    <section class="tile">
      <h2>Todo</h2>
      <mat-icon data-content="task"
                class="material-icons-outlined">
        task
      </mat-icon>
    </section>
  </a>
  <a routerLink="/pokemon">
    <section class="tile">
      <h2>Pokemon</h2>
      <mat-icon data-content="pokemon">
        catching_pokemon
      </mat-icon>
    </section>
  </a>
  <a routerLink="/experiment">
    <section class="tile">
      <h2>Experiment</h2>
      <mat-icon data-content="science"
                class="material-icons-outlined">science</mat-icon>
    </section>
  </a>
</nav>
