Pokemon Detail
<section class="pokemon-detail">
  <div *ngIf="selectedPokemon == undefined; else showPokemon"
       class="placeholder-image">
    <!-- <img src="https://pokemon-world-imdoug.netlify.app/img/pokeball.svg"
         alt=""> -->
  </div>
  <ng-template #showPokemon>
    <h2>#{{selectedPokemon?.id?.toString()?.padStart(3, '0')}} {{selectedPokemon?.name}}</h2>
    <img src="{{selectedPokemon?.image}}"
         alt="Front sprite image of {{selectedPokemon?.name}}" />
    <span>Type: {{selectedPokemon?.type}}</span>
  </ng-template>
</section>
