.pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 23rem;
  height: 25rem;
  max-width: 25rem;
  border: 1px solid lightgray;
  border-radius: 7px;
  box-shadow: 0 0 7px 0px lightgrey;

  img {
    width: 100%;
    height: 15rem;
    min-width: 15rem;
    max-width: 15rem;
    margin-bottom: 1rem;
  }

  span {
    margin-bottom: 1rem;
  }
}
